body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0d3f09;
    color: #999;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #c79f1c;
    border: 6px solid #96690a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .goblin {
    width: 80px;
    height: 80px;
    background-image: url('../img/goblin.png');
    background-size: cover;
  }
